body { 
        color:red;
        font-family: georgia,  "Times New Roman", Times, serif;
        background-color: black;
        padding-top: 10px;
        line-height: 1.6;
        margin: 0 auto;

}

p { padding-left: 15px;


}

img { 
      padding-left: 460px;  



}


h1 { font-size: 40px;
     margin-left: 20px;   
     


}